{% extends 'base.html' %}

{% block content %}
<style>
    .post-container {
      margin-bottom: 20px;
    }

    .comment-form {
      margin-top: 300px;
    }

    .comments-list {
      list-style-type: none;
      padding: 0;
    }

    .comment {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      padding: 10px;
    }

</style>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function () {
    // Отримання CSRF-токену з кукі
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          // Перевірка, чи починається кука із потрібного імені
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    $('.delete-comment').click(function (event) {
      event.preventDefault();
      var commentId = $(this).data('comment-id');
      var csrftoken = getCookie('csrftoken');  // Отримання CSRF-токену

      $.ajax({
        type: 'DELETE',
        url: '/delete_comment/' + commentId + '/',
        headers: {'X-CSRFToken': csrftoken},  // Додавання CSRF-токену у заголовок запиту
        success: function (data) {
          console.log(data.message);
          location.reload();
        },
        error: function (error) {
          console.log('Помилка при видаленні коментаря:', error.responseText);
        }
      });
    });
  });

</script>

{% if post %}
<div class="photo-and-text-container">
    {% if post.photo %}
    <img src="{{ post.photo.file.url }}" alt="{{ post.title }}" class="img-article-left thumb">
    {% endif %}
    <div class="text-content">
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        {% if post.is_published %}
        <p>This post is published.</p>
        {% else %}
        <p>This post is not published.</p>
        {% endif %}
    </div>
</div>
{% else %}
<p>Post not found.</p>
{% endif %}


<!-- форма для коментарів -->
{% if user.is_authenticated %}
<div class="comment-form" style="max-width: 300px;">
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Додати коментар</button>
    </form>
</div>


<!-- список коментарів -->
<div class="comments-list">
    <h2>Коментарі:</h2>
    <ul>
        {% else %}
        <h1>Щоб залишити коментар
        <a href="{% url 'login' %}">увійдіть</a></h1>
        {% endif %}

        {% for comment in comments %}
        <li class="comment">
            <strong>{{ comment.author.username }}</strong> написав(ла) {{ comment.created_at }}:<br>
            {{ comment.text }}

            {% if request.user == comment.author %}
            <a href="#" class="delete-comment" data-comment-id="{{ comment.id }}">Видалити</a>
            {% endif %}

        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
