{% extends 'base.html' %}

{% block content %}
  <style>
    .post-container {
      margin-bottom: 20px;
    }

    .comment-form {
      margin-top: 300px;
    }

    .comments-list {
      list-style-type: none;
      padding: 0;
    }

    .comment {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      padding: 10px;
    }
  </style>

  {% if post %}
    <div class="photo-and-text-container">
      {% if post.photo %}
        <img src="{{ post.photo.file.url }}" alt="{{ post.title }}" class="img-article-left thumb">
      {% endif %}
      <div class="text-content">
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        {% if post.is_published %}
          <p>This post is published.</p>
        {% else %}
          <p>This post is not published.</p>
        {% endif %}
      </div>
    </div>
  {% else %}
    <p>Post not found.</p>
  {% endif %}


  <!-- Додайте форму для коментарів -->

  <div class="comment-form" style="max-width: 300px;">
    <form method="post" action="">
        {% csrf_token %}
        <label for="id_text">Text:</label>
        <textarea name="text" rows="3" cols="50" id="id_text"></textarea>
        <input type="hidden" name="author" value="{{ request.user.username }}">
        <button type="submit">Додати коментар</button>
    </form>
</div>

  <!-- Виведіть список коментарів -->
  <div class="comments-list">
    <h2>Коментарі:</h2>
    <ul>
      {% for comment in comments %}
          <li class="comment">
            <strong>{{ comment.author }}</strong> написав(ла) {{ comment.created_at }}:<br>
            {{ comment.text }}
          </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}