{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="mb-4">Реєстрація</h2>
        <form method="post" action="{% url 'register' %}" class="needs-validation" novalidate>
          {% csrf_token %}
          <div class="mb-3">
            <label for="id_username" class="form-label">Ім'я користувача</label>
            <input type="text" name="username" class="form-control" id="id_username" required>
            {% if form.errors.username %}
                <div class="text-danger">{{ form.errors.username.0 }}</div>
            {% endif %}
          </div>
          <div class="mb-3">
            <label for="id_email" class="form-label">Електронна пошта</label>
            <input type="email" name="email" class="form-control" id="id_email" required>
            {% if form.errors.email %}
                <div class="text-danger">{{ form.errors.email.0 }}</div>
            {% endif %}
          </div>
          <div class="mb-3">
            <label for="id_password1" class="form-label">Пароль</label>
            <input type="password" name="password1" class="form-control" id="id_password1" required>
            {% if form.errors.password1 %}
                <div class="text-danger">{{ form.errors.password1.0 }}</div>
            {% endif %}
          </div>
          <div class="mb-3">
            <label for="id_password2" class="form-label">Підтвердження паролю</label>
            <input type="password" name="password2" class="form-control" id="id_password2" required>
            {% if form.errors.password2 %}
                <div class="text-danger">{{ form.errors.password2.0 }}</div>
            {% endif %}
          </div>
          <button type="submit" class="btn btn-primary">Зареєструватися</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}